{% extends "_base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block page_title %}
  {% trans "login" %}
{% endblock page_title %}
{% block navbar %}
  
{% include "includes/navbar_one.html" with nav_title="login" %}
{% endblock navbar %}
{% block content %}

    <!-- User Area -->
    <div class="user-area pt-100 pb-70">
        <div class="container">
            <div class="user-width">
                <div class="user-form">
                    <div class="contact-form">
                        <h2>{% trans "Log In" %}</h2>
                        <form action="" action="" method="Post">
                            {% csrf_token %}
                            {{ form|crispy}}
                            <div class="col-lg-12 ">
                                <button type="submit" class="default-btn btn-bg-three">
                                    {% trans "Log In Now" %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- User Area End -->
  
{% endblock content %}
